div.gmw-menu-wrapper {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin-top: 10px
}

div.menu-header {
	padding: 11px 10px;
	background: white;
	border-bottom: 1px solid #e9e9e9
}

div.menu-footer {
	padding: 8px 10px;
	background: white;
	border-top: 1px solid #e9e9e9;
	text-align: right;
}

div.menu-header span,
div.menu-header i {
	font-size: 15px;
}

div.menu-header input.button-primary.update-form {
	float: right;
	margin-top: -4px;
}

div.menu-footer input.button-primary.update-form {
	display: inline-block;
	float:none;
}

.wrap.gmw-admin-page h2 {
	margin-bottom: 20px;
}

.gmw-form-shortcode-thickbox-wrap {
	padding: 5px 15px;
}

.gmw-form-shortcode-thickbox-wrap .checkboxes label {
	display: block;
	margin: 5px 0px
}

.gmw-form-shortcode-thickbox-wrap #gmw-forms-dropdown-wrapper {
	margin: 25px 0;
}

.gmw-description-box {
	width: 100%;
	line-height: 18px;
	font-style: italic;
	color: #555;
	font-size: 12px;
	display: inline-block;
	padding: 10px;
	background: #fafafa;
	border: 1px solid #ededed;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 0;
}

#toplevel_page_gmw-extensions .wp-has-current-submenu .dashicons-before.dashicons-location-alt:before,
#toplevel_page_gmw-extensions.opensub .dashicons-before.dashicons-location-alt:before {
	color: #ffd885 !important;
}

/******* Options box ******/

.gmw-options-box {
	padding: 0;
	margin: 0;
	width: 100%;
	display: inline-block;
	border: 1px solid #e5e5e5;
	max-width: 500px;
	position: relative;
}

.gmw-options-box .single-option {
	width: 100%;
	vertical-align: top;
	float: left;
	box-sizing: border-box;
	border-bottom: 1px solid #e9e9e9;
	padding: 0;
	background: none;
	margin-bottom: 0;
}

.gmw-options-box .single-option.half {
	max-width: 50%;
}

.gmw-options-box .single-option.third {
	max-width: 33.3%;
}

.gmw-options-box .single-option.forth {
	max-width: 25%;
}

.gmw-options-box .single-option label {
	padding: 8px 10px;
	width: 100% !important;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	background: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
}

.gmw-options-box .single-option .option-content {
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	line-height: 30px;
	min-height: 50px;
}

.gmw-options-box .single-option .option-content p {
	width: 100%;
	line-height: 18px;
	font-style: italic;
	color: #555;
	font-size: 12px;
	display: inline-block;
	padding: 10px;
	background: #fafafa;
	border: 1px solid #ededed;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 0;
}

.gmw-options-box .single-option:last-child {
	border-bottom: 0;
}

.gmw-options-box .single-option input[type="text"],
.gmw-options-box .single-option input[type="number"] {
	width: 100% !important;
}

.gmw-options-box ul.options-tabs {
	float:left;
	width: 100%;
	margin-bottom: 5px;
	border-top: 1px solid #e5e5e5;
}

.gmw-options-box ul.options-tabs li.option-tab {
	float: left;
	list-style: none;
	font-weight: 400;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.gmw-options-box ul.options-tabs li.option-tab a {
	position: relative;
	border-right: 1px solid #eee;
	display: block;
	padding: 5px 8px;
	text-decoration: none;
	outline: none;
	float: none;
	font-size: 11px;
	color: #555;
	margin: 0 -1px 0 0;
	background: #f7f7f7;
	border-color: #DFDFDF;
}

.gmw-options-box ul.options-tabs li.active a {
	background: white;
	border-bottom:0px;
}

.gmw-options-box ul.options-tabs,
.gmw-options-box ul.options-tabs-content {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 100%;
}

.gmw-options-box ul.options-tabs-content li.tab-content {
	padding: 0px 0px 0px;
	margin:0px;
	display: none;
	width: 100%;
	float: left;
	border: 0;
}

.gmw-options-box ul.options-tabs-content li.tab-content .chosen-container {
	max-width: 100%;
	margin: 0px;
}

.gmw-options-box .single-option.checkbox .option-content {
	min-height: 0;
	line-height: 20px;
}

.gmw-options-box .single-option.checkbox .option-content label {
	background: 0;
	border: 0;
	padding: 0;
}

/******* /options box *********/

/******* GMW tabs *********/

.gmw-left-tabs-menu-wrapper {
	padding-left: 200px;
	//height: 100%;*/
	width: 100%;
	box-sizing: border-box;
	position: relative;
	border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
 	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper {
	width: 200px;
	padding: 0;
	margin: 0;
	z-index: 10;
	background: #f1f1f1;
	position: absolute;
	top: 0px;
	height: 100%;
	bottom: 0;
	left: 0;
	border-right: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li {
	margin: 0;
	list-style: none;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li a {
	color: #222;
	display: block;
	//font-weight: 700;
	outline: none;
	padding: 14px;
	position: relative;
	text-decoration: none;
	z-index: 10;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #f2f2f2;
	cursor: pointer;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li a:first-child {
	border-top: 0px;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li a.active {
	background: #fbfbfb;
	position: relative;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li a.active:before {
	background: #fbfbfb;
	content: ' ';
	height: 100%;
	position: absolute;
	right: -2px;
	top: 0;
	width: 3px;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li a i {
	color: #333;
	font-size: 14px;
	margin: 0 -2px;
}

.gmw-left-tabs-menu-wrapper ul.gmw-tabs-wrapper li a span {
	display: inline-block;
}

.gmw-left-tabs-menu-wrapper div.gmw-panels-wrapper {
	background: #fff;
	min-height: 300px;
	width: 100%;
}

.gmw-left-tabs-menu-wrapper div.gmw-panels-wrapper .gmw-tab-panel {

}

.gmw-left-tabs-menu-wrapper div.gmw-panels-wrapper table {
	border: 0px;
	-webkit-box-shadow: none;
 	box-shadow: none;
}

	/*** left tabs smaller screens **/

	@media ( max-width: 650px ) {

		.gmw-left-tabs-menu-wrapper div.gmw-panels-wrapper table {
			width: 100%;
			box-sizing: border-box;
			max-width: 100%;
		}

		.gmw-left-tabs-menu-wrapper div.gmw-panels-wrapper table tr td {
			color: #555;
			width: 100%;
			
			float: none;
			display: inline-block;
			box-sizing: border-box;
		}
	}

/******** GMW Tabs ********/

/******* GMW Settings area Wrapper *********/

div.gmw-settings-wrapper {

}

#gmw-settings-page form.gmw-settings-form {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border: 1px solid #ddd;
}

#gmw-settings-page form.gmw-settings-form .update-button-wrapper {
	padding: 10px 20px;
	text-align: right;
	background:#f1f1f1;
}

#gmw-settings-page form.gmw-settings-form .update-button-wrapper.top {
	border-bottom: 1px solid #ddd;
}

#gmw-settings-page form.gmw-settings-form .gmw-left-tabs-menu-wrapper {
	border: 0px;
    -webkit-box-shadow: none;
	box-shadow: none;
}

#gmw-settings-page form.gmw-settings-form .gmw-left-tabs-menu-wrapper .gmw-tabs-wrapper {
	border-bottom: 1px solid #ddd;
}

#gmw-settings-page div.chosen-container-multi,
#gmw-settings-page input[type="text"],
#gmw-settings-page input[type="number"],
#gmw-settings-page textarea,
.setting-radio-buttons-wrapper {
	width: 100%;
	max-width: 500px;
}

/******* GMW Settings area wrapper end *********/


/*
div.gmw-menu-wrapper div.gmw-tabs-panel-wrapper {
	background: #fff;
	//display: table-cell;
	min-height: 300px;
	vertical-align: top;
	width: 100%;
	display:initial;
}

div.gmw-menu-wrapper div.gmw-tabs-panel-wrapper table.widefat {
	border: 0px;
}
*/

.gmw-helpful-links-wrapper {
	display: block;
	margin-top: 10px;
}

.gmw-helpful-links-wrapper a {
	font-size:12px !important;
}

.gmw-helpful-links-wrapper a i {
	margin-right:2px;
	font-size: 14px;
}

.gmw-helpful-links-wrapper a i:before {
	margin-left: 0px;
}

a.gmw-donate {
	font-size: 11px !important;
	padding: 5px 7px !important;
	height: 25px !important;
	line-height: 13px !important;
	vertical-align: middle !important;
	margin-left:5px;
}
/*
.gmw-tabs-wrapper {
	background:none;
	border:0px;
}

.gmw-tabs-panel-wrapper {
	margin-top: -4px;
}

.gmw-tabs-wrapper {
	background:none;
	border:0px;
}
*/
div.gmw-tracking-notice.update-nag {
	margin-top: 0px;
	border: 1px solid #eee;
	border-top: 0px;
	padding-top: 20px;
	box-sizing: border-box;
	display: block;
	border-left: 4px solid #7ad03a;
}

div.gmw-tracking-notice.update-nag em {
	display: block;
	margin-bottom: 15px;
	margin: 0px 5px 10px
}
/********** Widgets **********/

.gmw-widget-wrapper p {
	//border-bottom: 1px solid #dedede;
	//padding-bottom: 10px;
	//margin-bottom: 20px
}

.gmw-widget-wrapper em {
	font-size:12px;
	color:#777;
	display:block;
	margin:5px 0px;
}

.gmw-widget-wrapper label {
	//margin-bottom: 3px;
	//display: inline-block;
}

.gmw-widget-wrapper select {
	width:100%;
}

.gmw-widget-wrapper .gmw-message-box {
	padding:8px 8px;
	background: rgba(173, 216, 230, 0.33);
	box-sizing: border-box;
	border:1px solid rgba(173, 216, 230, 0.63);
	border-radius: 5px;
}

input.chosen-search-input.default {
	width: 100%;
}

/********** form editor Page **********/

#gmw-edit-form-page {
	z-index: 9999;
	overflow: visible;
	right: 0;
	min-width: 0;
	position: fixed;
	top: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	background: #f1f1f1;
	margin:0;
}

body.wp-admin.admin-bar #gmw-edit-form-page {
	top: 30px;
	height: 95%;
}

#gmw-edit-form-page input[type="text"],
#gmw-edit-form-page textarea,
#gmw-edit-form-page input[type="number"] {
	width: 100%;
	max-width: 500px;
}

#gmw-edit-form-page div.error,
#gmw-edit-form-page div.updated {
	display:none;
}

#gmw-edit-form-page #top-area {
	padding: 0;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	left: 0;
	box-sizing: border-box;
	background: #f1f1f1;
}

/** dark theme **/
#gmw-edit-form-page #top-area {
	background: #333;
	border: 0;
}

body.wp-admin.admin-bar #gmw-edit-form-page #top-area {
	top: 30px;
}

#gmw-edit-form-page #top-area a.form-editor-close {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	padding: 0;
	background: #f1f1f1;
	border: none;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	-webkit-transition: color .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
	transition: color .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-right: 1px solid #ddd;
}

/* dark them */
#gmw-edit-form-page #top-area a.form-editor-close {
	border: 0;
	background: #444;
}

#gmw-edit-form-page #top-area a.form-editor-close:hover {
	background: #fff;
	border-top-color: #0073aa;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* dark theme */
#gmw-edit-form-page #top-area a.form-editor-close:hover {
	color: #fcfcfc;
}

#gmw-edit-form-page #top-area a.form-editor-close:before {
	font: 400 38px/45px dashicons;
	content: "\f335";
	position: relative;
	top: 10px;
	left: 14px;
	color: #444;
}

/** Dark theme **/
#gmw-edit-form-page #top-area a.form-editor-close:before {
	color: #ccc;
}

#gmw-edit-form-page #top-area h2 {
	font-size: 23px;
	line-height: 28px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
	display: inline-block;
	padding: 0px !important;
	color: #444;
	font-size: 23px;
	font-weight: 200;
	margin: 17px 0px 15px 80px;
}

/** dark theme **/
#gmw-edit-form-page #top-area h2 {
	color: #ccc;
}

#gmw-edit-form-page #top-area .error,
#gmw-edit-form-page #top-area .update,
#gmw-edit-form-page #top-area .update-nag,
#gmw-edit-form-page #top-area .notice {
	display:none !important;
}

#gmw-edit-form-page #top-area span#page-title em {
	
}

#gmw-edit-form-page #top-area #action-buttons {
	display: inline-block;
	margin: 16px 50px 16px 20px;
	width: 100%;
	max-width: 700px;
	vertical-align: top;
	text-align: right;
	float: right;
}

#gmw-edit-form-page #top-area #action-buttons a.button.action {
	box-shadow: none;
	background: #444;
	color: #fcfcfc;
	border: 1px solid #555;
	height: 32px;
	line-height: 30px;
	text-shadow: none;
	font-weight: 100;
	border-radius: 2px;
	-webkit-transition: color .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
	transition: color .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
	margin-right: 8px;
}

#gmw-edit-form-page #top-area #action-buttons a.button.action:hover {
	background: #fff;
	border-top-color: #0073aa;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #444;
}

#gmw-edit-form-page #top-area #action-buttons .button-primary {
	border: 0;
	box-shadow: none;
	text-shadow: none;
	font-weight: 100;
	height: 32px;
	margin: 0;
	line-height: 30px;
	vertical-align: top;
}

#gmw-edit-form-page #form-wrapper {
	padding-left: 180px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-top: 63px;
}

#gmw-edit-form-page #form-wrapper #top-bar {
	background: #eee;
	padding: 15px 21px 12px;
	border-bottom: 3px solid #ddd;
	border-left: 1px solid #ddd;
}

#gmw-edit-form-page #floating-submit {
	height: 35px;
	position: fixed;
	bottom: 4%;
	right: 3%;
	width: 135px;
	box-shadow: none;
	border-radius: 0;
	font-size: 14px;
}

#gmw-edit-form-page #submit-button {
	/*height: 48px;
	width: 100%;
	box-shadow: none;
	border-radius: 0;
	font-size: 15px;
	border-bottom: 2px solid #ddd;
	border-top: 1px solid #ddd; */
	margin-left: 5px;
}

#gmw-edit-form-page #form-wrapper div#left-sidebar {
	margin-left: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 180px;
	padding: 0;
	margin: 0;
	z-index: 10;
	background: #eee;
	position: fixed;
	top: 60px;
	height: 100%;
	bottom: 0;
	left: 0;
}

/** dark theme **/
#gmw-edit-form-page #form-wrapper div#left-sidebar {
	background: #333;
}

#gmw-edit-form-page #form-wrapper div#left-sidebar #top-bar {
	background: #eee;
	padding: 9px 12px 6px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

body.wp-admin.admin-bar #gmw-edit-form-page #form-wrapper div#left-sidebar {
	top: 93px;
}

#gmw-edit-form-page #form-wrapper div#top-area span#form-title-input {
	width: 100%;
	max-width: 260px;
	display: inline-block;
	margin-right: 8px;
	position: relative;
}

#gmw-edit-form-page #form-wrapper div#top-area span#form-title-input #form-name-label {
	padding: 0 11px 0px 10px;
	background: #444;
	color: #fcfcfc;
	font-size: 13px;
	font-weight: 100;
	line-height: 30px;
	position: absolute;
	height: 100%;
	box-sizing: border-box;
}

#gmw-edit-form-page #form-wrapper div#top-area span#form-title-input input[type="text"] {
	width: 100%;
	height: 32px;
	padding-left: 65px;
	font-weight: 100;
	font-size: 13px;
	border-radius: 2px;
	margin:0px;
}

#gmw-edit-form-page #form-wrapper div#top-area span#form-title-input input[type="text"]:before {
	content: 'name';
}

#gmw-edit-form-page #form-wrapper div#top-area span#form-title-input input[type="submit"] {
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 10px;
	line-height: 22px;
	height: 25px;
	padding: 0px 7px;
}

#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper {
	margin: 0;
}

#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper li {
	margin: 0;
	list-style: none;
}

#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper li a {
	border-bottom: 1px solid #dfdfdf;
	color: #222;
	display: block;
	font-weight: 200;
	outline: none;
	position: relative;
	text-decoration: none;
	z-index: 10;
	padding: 15px 12px 15px 16px;
}

/** dark theme **/
#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper li a {
	color: #ccc;
	border: 0;
}

#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper li a.active {
	background: #fcfcfc;
	position: relative;
}

/** dark theme  **/
#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper li a.active {
	color: #333;
}

#gmw-edit-form-page #form-wrapper ul.gmw-tabs-wrapper li a.active:before {
	background: #fcfcfc;
	content: ' ';
	height: 100%;
	position: absolute;
	right: -1px;
	top: 0;
	width: 1px;
}

#gmw-edit-form-page #form-wrapper .panels-wrapper {
	border-bottom: 5px solid #e5e5e5;	
}

#gmw-edit-form-page #form-wrapper .panels-wrapper table.widetaf {
	box-shadow: none;
}

#gmw-edit-form-page #form-wrapper #form-update-messages {
	max-width: 175px;
	display: inline-block;
	position: fixed;
	top: 93px;
	right: 0;
	background: #333;
}
#gmw-edit-form-page #form-wrapper #form-update-messages p {
	padding: 12px 22px 12px 12px;
	color: #ddd;
	margin: 0;
}

#gmw-edit-form-page #form-wrapper #form-update-messages p.success {
	display: none;
	border-bottom: 5px solid #76e370;
}

#gmw-edit-form-page #form-wrapper #form-update-messages p.failed {
	display: none;
	border-bottom: 5px solid red;
}

#gmw-edit-form-page #form-wrapper #form-update-messages p i {
	margin-right:5px;
}

#gmw-edit-form-page #form-wrapper form {
	position: relative;
	height: 100%;
	overflow-y: scroll;
}

#gmw-edit-form-page #form-wrapper #gmw-form-cover {
	display:none;
	background: white;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.9;
	z-index: 9;
	top: 61px;
	left: 0;
	margin-left: 181px;
	z-index: 9999999999;
}

body.wp-admin.admin-bar #gmw-edit-form-page #form-wrapper #gmw-form-cover {
	top: 91px;
}

#gmw-edit-form-page #form-wrapper .gmw-tabs-panel-wrapper {
	right: auto;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
}

#gmw-edit-form-page #form-wrapper #gmw-form-cover #updating-info {
	top: 40%;
	left: 27%;
	font-size: 24px;
	position: absolute;
	color: #444;
}

#gmw-edit-form-page #settings-search_form br {
	display: none;
}

#gmw-edit-form-page #search_form-taxonomies-tr .gmw-options-box {
	//max-width: 350px;
}

#gmw-edit-form-page #form-wrapper .post-type-taxonomies-wrapper .taxonomy-wrapper {
	//border-bottom:1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

#gmw-edit-form-page #form-wrapper .post-type-taxonomies-wrapper .taxonomy-wrapper label {
	display:block;
	//margin-bottom: 5px;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-settings {
	border-bottom: 1px solid #e7e7e7;
	padding: 20px;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-settings .gmw-map-icons-wrapper {
	max-width: 500px;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc {
	background: #fbfbfb;
	border-right: 1px solid #e7e7e7;
	padding: 20px;
	border-bottom: 1px solid #e7e7e7;
	width: 200px;
	max-width: 200px;
	vertical-align: top;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc .gmw-form-feature-desc-content {
	display: inline-block;
	width: 100%;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc .gmw-form-feature-desc-content .description.long {
	max-height: 60px;
	overflow: hidden;
	margin-bottom: -18px;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc .gmw-form-feature-desc-content span.read-more {
	display: inline-block;
	border-top: 2px solid #e5e5e5;
	width: 100%;
	text-align: center;
	font-size: 10px;
	font-style: italic;
	position: relative;
	cursor: pointer;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc .gmw-form-feature-desc-content span.read-more:after {
	content: "Show more...";
	background: #e5e5e5;
	padding: 0px 5px;
	top: 1px;
	position: absolute;
	top: -1px;
	right: 0;
	line-height: 18px;
	cursor: pointer;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc .gmw-form-feature-desc-content span.read-more.open:after {
	content: "Show less...";
}

.gmw-tab-panel table thead tr th {
	border-right: 1px solid #E1E1E1;
	width: 15%;
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
}

.gmw-tab-panel table thead tr th {
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #eee;
	padding: 13px 15px;
	width:15%;
}

.gmw-tab-panel table tfoot tr th {
	border-top: 0;
}


.gmw-tab-panel table tbody tr td.gmw-form-usage-desc {
	background: #f9f9f9;
	border-right: 1px solid #E1E1E1;
	width: 15%;
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
}

.gmw-tab-panel .gmw-form-feature-desc em.description,
.gmw-tab-panel .gmw-form-feature-desc em.description p,
.gmw-tab-panel .gmw-form-feature-desc em.description ul li {
	font-size: 12px;
	display: inline-block;
	margin-bottom: 5px;
}

.gmw-tab-panel .gmw-form-feature-desc .more-content span {
    display: none;
}
.gmw-tab-panel .gmw-form-feature-desc .more-link {
    display: inline-block;
}

.gmw-tab-panel table tbody tr td.gmw-form-usage {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #E1E1E1;
	padding: 13px 15px;
	width:15%;
}

div.gmw-settings-panel.gmw-tab-panel.form-usage table {
	border: 0;
}

div.gmw-settings-panel.gmw-tab-panel.form-usage table thead tr th {
	background: #444;
	color: #ddd;
	border: 0;
	font-weight: 100;
	border: 0;
	border-right: 1px solid #999;
}

.gmw-tab-panel table tbody tr td.gmw-form-feature-desc label {
	display: block;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: bold;
	padding: 0;
	margin: 0 0 3px;
	color: #333;
	margin-bottom:8px
}

.gmw-tab-panel .chosen-container-single {
	max-width:500px;
	text-align: left;
}

.gmw-tab-panel .chosen-container-multi {
	max-width: 500px;
	text-align: left;
}

.gmw-tab-panel .multicheckboxvalues label,
.gmw-tab-panel .multicheckbox label,
.gmw-tab-panel .checkbox label,
.gmw-tab-panel label.checkbox  {
	display:block;
	margin-bottom: 5px;
}

.gmw-tab-panel label:first-letter {
	text-transform: capitalize;
}

#gmw-edit-form-page .gmw-options-box .single-option.option-locator_image .option-content label {
	background: #f7f7f7;
	display: inline-block;
	border: 1px solid #e5e5e5;
	height: 50px;
	padding: 4px;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-right: 3px;
	width: 70px;
	max-width: 70px;
} 

#gmw-edit-form-page .gmw-options-box .single-option.option-locator_image .option-content label img {
	max-height: 35px;
	width: auto;
}
/*.gmw-tab-panel #locator-button-wrapper #locator-image-options-wrapper {
	padding: 5px;
}

.gmw-tab-panel #locator-button-wrapper #locator-image-options-wrapper label {
	background: #f7f7f7;
	display: inline-block;
	border: 1px solid #e5e5e5;
	height: 50px;
	width: auto;
	padding: 4px;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-right: 3px;
} 

.gmw-tab-panel #locator-button-wrapper #locator-text-options-wrapper {
	padding: 10px;
	display: block;
}

.gmw-tab-panel #locator-button-wrapper #locator-text-options-wrapper p {
	display: block;
	background-color: rgb(247, 247, 247);
	padding: 5px;
	box-sizing: border-box;
	background-position: initial initial;
	background-repeat: initial initial;
	margin: 0;
	border: 1px solid #e5e5e5;
}
*/

.address-fields-settings-wrapper.gmw-options-box {
	border-bottom: 0;
}

.address-fields-settings-wrapper.gmw-options-box,
#locator-button-wrapper.gmw-options-box {
	//max-width: 350px;
}

#gmw-edit-form-page .single-option.option-image_width,
#gmw-edit-form-page .single-option.option-image_height {
	max-width: 50%;
}

#gmw-edit-form-page .single-option.option-image_width,
#gmw-edit-form-page .single-option.option-image_height,
#gmw-edit-form-page .single-option.option-keywords_field_label,
#gmw-edit-form-page .single-option.option-keywords_field_placeholder {
	max-width: 50%;
}	

/********** Form editor ends ******/

/*** location section edit post page ***/

#poststuff div#gmw-location-meta-box div.inside {
	margin: 0px;
	padding: 0px;
}

#poststuff div#gmw-location-meta-box #gmw-location-form-wrapper {
	border: 0;
	margin-top: 0;
	margin-bottom: 10px;
}

#poststuff div#gmw-location-meta-box .inside.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999999999999;
	background: white;
	padding: 0px;
	box-sizing: border-box;
	max-height: 100%;
	overflow-y: scroll;
}

#poststuff div#gmw-location-meta-box #gmw-location-section-resize {
	z-index: 9999;
	position: absolute;
	right: 0px;
	top: 0px;
	background: white;
	color: #72777c;
	cursor: pointer;
	padding: 4px 6px;
	font-size: 11px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #eeeeee;
	border-top: 0px;
	border-right: 0;
}

#poststuff div#gmw-location-meta-box #gmw-resize-map-toggle {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 99999999;
	background: white;
	color: #555;
	cursor: pointer;
	padding: 2px 2px;
	font-size: 12px;
	border: 1px solid rgba(0, 0, 0, 0.14902);
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 2px;
	font-family: Roboto, Arial, sans-serif;
}

/******** Extensions Page *********/

#gmw-extensions-filter {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px 0 25px;
	padding: 0 10px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border: 1px solid #e5e5e5;
	background: #fff;
	color: #555;
	font-size: 13px;
	position: relative;
}

#gmw-extensions-filter ul,
#gmw-extensions-filter ul li {
	display: inline-block;
	margin: 0;
}

#gmw-extensions-filter ul li a {
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 4px solid #fff;
	color: #666;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

#gmw-extensions-filter ul li a {
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 4px solid #fff;
	color: #666;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

#gmw-extensions-filter ul li a:hover {
	color: #0073aa;
}

#gmw-extensions-filter ul li a.current {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 4px solid #666;
	color: #23282d;
}

#gmw-extensions-filter .extensions-updater {
	float: right;
	padding: 10px 0;
	border-bottom: 4px solid #7ad03a;
	position: relative;
	margin-right: 20px;
}

#gmw-extensions-filter .extensions-cache {
	float: right;
	padding: 10px 0;
	position: relative;
	margin-right: 20px;
}

#gmw-extensions-filter .extensions-updater a,
#gmw-extensions-filter .extensions-cache input[type="submit"] {
	font-size: 12px;
	padding-right: 22px;
}

#gmw-extensions-filter .extensions-updater.disabled {
	border-bottom: 4px solid red;
}

#gmw-extensions-filter .extensions-updater i.info-toggle,
#gmw-extensions-filter .extensions-cache i.info-toggle {
	font-size: 19px;
	cursor: pointer;
	position: absolute;
	top: 14px;
	right: 2px;
	color:white;
}

#gmw-extensions-filter .extensions-updater.enabled i.info-toggle {
	color: #666;
}

#gmw-extensions-filter .extensions-updater .updater-info,
#gmw-extensions-filter .extensions-cache .cache-info {
	position: absolute;
	background-color: white;
	padding: 15px 20px;
	margin-top: 15px;
	z-index: 99;
	font-size: 12px;
	width: 250px;
	right: 0px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	border-top: 0;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	display: none;
}

#gmw-extensions-filter .extensions-updater .updater-info p.enable,
#gmw-extensions-filter .extensions-updater .updater-info p.disable {
	display: none;
}

#gmw-extensions-filter .extensions-updater.disabled .updater-info p.enable {
	display: inline-block;
}

#gmw-extensions-filter .extensions-updater.enabled .updater-info p.disable {
	display: inline-block;
}

.extensions-title {
	display: inline-block;
	width: 100%;
	clear: both;
	border-bottom: 5px solid white;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.10);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.10);
}

.extensions-title h3 {
	margin: 0px 0px;
	background: white;
	float: left;
	padding: 12px 20px 10px 15px;
	font-size: 16px;
	color: #444;
}

.gmw-extension-wrapper {
	float: left;
	margin: 0 8px 16px;
	width: 48.5%;
	width: -webkit-calc(50% - 8px);
	width: calc(50% - 8px);
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	position: relative;
}

.gmw-extension-wrapper p:before {
	display: none;
}

.gmw-extension-wrapper.free.active,
.gmw-extension-wrapper.premium.has-license.active .extension-top,
.gmw-extension-wrapper.premium.has-license .extension-bottom .gmw-license-wrapper.valid {
	border-left: 4px solid #7ad03a;
}

.gmw-extension-wrapper.disabled,
.gmw-extension-wrapper.premium .extension-bottom .gmw-license-wrapper.gmw-license-error {
	border-left: 4px solid red;
}

.gmw-extension-wrapper .activation-disabled-message {
	display: none;
}

/*.gmw-extension-wrapper.activation-disabled ul.action-buttons li a.button, */
.gmw-extension-wrapper.disabled ul.action-buttons li a.button {
	color: #a0a5aa !important;
	border-color: #ddd !important;
	background: #f7f7f7 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: 0 1px 0 #fff !important;
	cursor: default;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
	pointer-events: none;
	cursor: default;
} 

.gmw-extension-wrapper.disabled .activation-disabled-message {
	display: block !important;
}

div.gmw-extension-wrapper:nth-child( odd ) {
	clear: both;
	margin-left: 0;
}

div.gmw-extension-wrapper:nth-child( even ) {
	margin-right: 0;
}

.gmw-extension-wrapper .extension-top {
	position: relative;
	padding: 20px 20px 10px;
	min-height: 135px;
	border-bottom: 1px solid #ddd;
}

.gmw-extension-wrapper .extension-top .name,
.gmw-extension-wrapper .extension-top .desc,
.gmw-extension-wrapper .extension-top .author {
	margin-left: 148px;
	margin-right: 120px;
}
.gmw-extension-wrapper .extension-top .desc p {
	//min-height: 75px;
	margin-bottom: 10px;
}

.gmw-extension-wrapper .extension-top .author p {
	font-style: italic;
	margin-top: 5px;
}

.gmw-extension-wrapper .extension-top .name h3 {
	margin: 0;
	font-size: 18px;
	line-height: 1.3;
}

.gmw-extension-wrapper .extension-top .name h3 img,
.gmw-extension-wrapper .extension-top .name h3 span {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 128px;
	height: 128px;
	margin: 0 20px 20px 0;
	border: 1px solid #dfdfdf;
	background: #f4f4f4;
	box-sizing: border-box;
}

.gmw-extension-wrapper .extension-top .name h3 span {
	font-size: 55px;
	color: #ccc;
	padding: 35px;
}

.gmw-extension-wrapper .extension-top .name p.version {
	margin: 3px 0px 12px 0;
	font-size: 12px;
	font-style: italic;
}

.gmw-extension-wrapper .extension-top .action-links {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 130px;
}

.gmw-extension-wrapper .extension-top .action-links ul {
	clear: right;
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
	text-align: right;
	margin-top: 0px;
}

.gmw-extension-wrapper .extension-top .action-links ul li.activation-button {
	margin-bottom: 10px;
}

.gmw-extension-wrapper .extension-top .action-links ul li {
	text-align: left;
	font-size: 12px;
	margin-bottom: 4px;
	font-style: italic;
}

.gmw-extension-wrapper .extension-top .action-links ul li i {
	margin-right: -2px;
	font-size: 11px
}

.gmw-extension-wrapper .extension-top .error-notice p,
.gmw-extension-wrapper .extension-top .update-available-notice p {
	font-size: 12px;
	font-style: italic;
	color: red;
	padding: 0px;
	margin: 0;
}

.gmw-extension-wrapper .extension-top .error-notice p i,
.gmw-extension-wrapper .extension-top .update-available-notice p i {
	font-size: 16px;
	margin-right: -4px;
	margin-left: -6px;
}

.gmw-extension-wrapper .extension-top .update-available-notice p {
	color: #6eb144;
}

.gmw-extension-wrapper .activation-disabled-message p,
.gmw-extension-wrapper .update-available-notice p {
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	color: white;
	padding: 5px 10px;
	background: rgba(252, 10, 29, 0.99);
}

.gmw-extension-wrapper .activation-disabled-message p a,
.gmw-extension-wrapper .update-available-notice p a {
	color: white;
}

.gmw-extension-wrapper .update-available-notice p {
	background: #7ad03a;
}

#gmw-extensions-page .processing {
	pointer-events: none;
}

.gmw-extension-wrapper .extension-bottom {
	clear: both;
	//padding: 12px 20px;
	background-color: #fafafa;
	overflow: hidden;
	position: relative;
	min-height: 70px;
}

.gmw-extension-wrapper.premium .extension-bottom {
	padding: 0px;
}

.gmw-extension-wrapper.premium.inactive .extension-bottom {
	//opacity: 0.3;
}

.gmw-extension-wrapper .extension-bottom .license-key-disabler,
#gmw-extensions-page .disabler-block {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #fafafa;
	opacity: 0.8;
	display: none;
}

#gmw-extensions-page .disabler-block {
	background: transparent;
}

.gmw-extension-wrapper .extension-bottom p.description.thank-you,
.gmw-extension-wrapper.active .extension-bottom p.description.free-extension {
	display: none;
}

.gmw-extension-wrapper.free.active .extension-bottom p.description.thank-you {
	display: inline-block;
}

.gmw-extension-wrapper.premium.not-installed .extension-bottom .license-key-disabler {
	display: block;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper {
	padding: 12px 20px;
	width: 100%;
	//height: 100%;
	box-sizing: border-box;
	display: inline-block;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper .field-wrapper {
	margin-right: 125px;
	position: relative;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper .field-wrapper span.gmw-icon-key {
	font-size: 15px;
	position: absolute;
	top: 4px;
	left: 5px;
	color:#666;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper.valid .field-wrapper span.gmw-icon-key {
	color: #aaa;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper .field-wrapper .gmw-license-key,
.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper .field-wrapper .gmw-license-key-disabled {
	padding-left: 25px;
	width: 300px;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper .actions-wrapper {
	position: absolute;
	top: 11px;
	right: 20px;
	width: 130px;
	text-align: right;
}

.gmw-extension-wrapper .extension-bottom input[type="text"] {
	//font-size: 13px;
	color: #555;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper button {
	float: right;
	//font-size: 12px;
	padding: 0px 8px;
	height: 27px;
	line-height: 15px;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper span {
	//font-size: 12px;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper p.description {
	margin: 7px 0 0 0;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper.gmw-license-error p.description {
	margin: 0;
	font-size: 11px;
	line-height: 20px;
	color: white;
	padding: 4px 15px 4px;
	background: rgba(252, 10, 29, 0.99);
	margin-left: -20px;
	margin-bottom: -12px;
	margin-top: 10px;
	width: 110%;
	box-sizing: border-box;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper.gmw-license-error p.description a {
	color: white;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper.inactive p i {
	display:none;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper p i {
	margin-left: -5px;
	color: #7dce46;
	display:inline-block;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper.gmw-license-error p i {
	color: white;
	display: inline-block;
	font-size: 11px;
	line-height: 18px;
}

.gmw-extension-wrapper .extension-bottom .gmw-license-wrapper.gmw-license-error p i:before {
	content: '\e835';
	font-family: "geo-my-wp";
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.gmw-extension-ribbon-wrapper {
  	width: 120px;
	height: 140px;
	overflow: hidden;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index:1;
}

.gmw-extension-ribbon {
  	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate( -45deg );
	-moz-transform:    rotate( -45deg );
	-ms-transform:     rotate( -45deg );
	-o-transform:      rotate(- 45deg );
	position: relative;
	padding: 7px 0;
	left: -25px;
	top: 35px;
	width: 190px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	font-size: 14px;
}

.gmw-extension-ribbon.red  {

    background: #e73827;
    background-image: -ms-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f85032), color-stop(50, #F16F5C), color-stop(51, #F6290C), color-stop(71, #F02F17), color-stop(100, #e73827));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);
    color:white;
    font-weight: 500;
    left: -45px;
	top: 35px;
}

.gmw-extension-ribbon.green  {

    background: rgba(171,189,115,1);
    background-image: -ms-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(200,209,168,1)), color-stop(100, rgba(171,189,115,1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);
    color:white;
    font-weight: 500;
    left: -45px;
	top: 35px;
}

.gmw-extension-ribbon.free  {

    background: rgba(171,189,115,1);
    background-image: -ms-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(200,209,168,1)), color-stop(100, rgba(171,189,115,1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);
    color:white;
    font-weight: 500;
    left: -45px;
	top: 27px;
}

.gmw-extension-ribbon.blue  {
    /* IE10+ */ 
    background: rgba( 99,147,193,1 );
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(117,175,230,1)), color-stop(100, rgba(99,147,193,1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);
    color:white;
    font-weight: 500;
    left: -45px;
	top: 27px;
}

@media screen and (max-width:1100px) and (min-width:782px), (max-width:480px) {

    .gmw-extension-wrapper .extension-top .action-links {
		position: static;
        margin-left: 148px;
        width: auto
	}

	.gmw-extension-wrapper .extension-top .action-links ul.action-buttons {
		float: none;
        margin: 1em 0 0;
        text-align: left;
	}

	.gmw-extension-wrapper .extension-top .action-links ul li.activation-button {
		width: 100%;
	}

	.gmw-extension-wrapper .extension-top .action-links ul li {
		display: inline-block;
        vertical-align: middle;
	}

	.gmw-extension-wrapper .extension-top .desc,
	.gmw-extension-wrapper .extension-top .name,
	.gmw-extension-wrapper .extension-top .author {
        margin-right: 0
    }
}

@media screen and (max-width:782px) {
    
    .gmw-extension-wrapper {
        width: 100%;
        margin: 0 0 20px 0 !important;
    }
}

/** ends extensions page */
/*
.gmw-tabs-wrapper {
	padding:0px !important;
	//border-left: 4px solid #7ad03a;
	padding-left:0px;	
}

.gmw-nav-tab {
	
}

.gmw-nav-tab.active {
	background: #f7f7f7;
}
*/
table.gmw-saf-table {
	width:100%;
}

table.gmw-cf-holder tr th, table.gmw-saf-table tr th {
	background: #C2D7EF;
	padding:5px;
	text-align:center;
	font-size:12px;
}

table.gmw-cf-holder tr td, table.gmw-saf-table tr td{
	border:1px solid #bbb;
	font-size:12px;
	padding:10px;
}

#taxonomies-wrapper .taxonomy-wrapper {
	margin-bottom:10px
}

table.gmw-saf-table .table-within {
	background: #ddd;
}


table.gmw-cf-holder tr td, table.gmw-saf-table tr td p {
	font-size:12px;
}

#gmw-form-page-usage-wrpper span.usage-title {
	width:100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	background: white;
	border: 1px solid #e5e5e5;
	padding:10px 0px;
	text-align: center;
	display: inline-block;
}

#usage-table-wrapper {
	display:none;
	margin-top:5px;
}

#form-usage-trigger {
	background-color: #D8F7D2;
	float:right;
	cursor: pointer;
}

#form-name-wrapper {
	padding:0px;
	//border-left: 4px solid #7ad03a;
	padding-left:0px;
	border:0px;
}

#form-name-wrapper input[type="text"] {
	padding:5px;
	margin:0px;
	vertical-align: initial;
	font-size: 12px;
	color:#777;
	margin-left: 5px;
	font-weight: normal;
	width:200px;
}

#form-name-wrapper .button-primary {
	vertical-align: initial;
	margin-left:10px
}

#gmw-form-page-usage-wrpper span.usage-title a {
	font-size:10px;
}

/*********** Import Export page **********/

#gmw-import-export-page #post-body-content p label {
	display: block;
	margin: 5px 0;
}

#gmw-import-export-page ul.gmw-tabs-wrapper {
	margin: 0;
	width: 100%;
	line-height: 33px;
	float: left;
}

#gmw-import-export-page ul.gmw-tabs-wrapper {
	margin: 0;
	width: 100%;
	line-height: 33px;
	float: left;
	border-bottom: 1px solid #ccc;
	margin: 10px 0px;
}

#gmw-import-export-page ul.gmw-tabs-wrapper li {
	float: left;
	margin-bottom: 0px;
}

#gmw-import-export-page ul.gmw-tabs-wrapper li a.gmw-nav-tab {
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 24px;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

#gmw-import-export-page ul.gmw-tabs-wrapper li a.active {
	background: white
}

.gmw-locations-importer-wrapper.GMW_Posts_Custom_Fields_Importer {
	padding: 0;
}

/* tools page */

#gmw-reset_gmw-tab-content form .reset-warning-cb {
	display: block;
	clear: both;
	margin-bottom: 5px;
	color: rgba(224, 0, 0, 0.9);
	font-size: 12px;
	display: none;
}

.gmw-tools-pt-locations-table {
	
	
}

.gmw-tools-pt-locations-table td.check-column,
.gmw-tools-pt-locations-table th.check-column {
	
}

/*
.gmw-tools div.gmw-menu-wrapper ul.gmw-tabs-wrapper li.active {
	background: white;
}
*/
.gmw-tools-pt-locations-table td.location-id.location-ok {
	border-left:2px solid #7ad03a;	
	color:#59982b;	
}

.gmw-tools-pt-locations-table td.location-id.location-error {
	border-left:2px solid red;
	color:red;
}

.gmw-tools-pt-locations-table tr th,
.gmw-tools-pt-locations-table tr td {
	border-right: 1px solid #efefef;
	text-align: center;
	padding:10px 5px !important;	
}

/* locations manager */

.tablenav-pages.gmw-tools-pt-locations-manager-pagination {
	float: right;
	display: block;
	cursor: default;
	height: 30px;
	color: #555;
	line-height: 30px;
	font-size: 12px;
}

.gmw-locations-filter-wrapper {
	float:left;
	height:30px;
	line-height: 30px;
	padding:12px 0px;
	margin-right:10px;
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination .displaying-num,
.gmw-locations-filter-wrapper span {
	margin-right: 2px;
	color: #777;
	font-size: 14px;
	font-style: italic;
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination li {
	display:inline-block;
	margin:0px 2px
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination a {
	padding: 0 10px 3px;
	background: #eee;
	background: rgba(0,0,0,.05);
	font-size: 14px;
	font-weight: 400;
	text-decoration:none;
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination .current {
	color: #aaa;
	background: #eee;
	background: rgba(0,0,0,.05);
}

/* import export */

.gmw-admin-page #poststuff .inside {
	padding: 0px 20px 20px;
}

.gmw-admin-page #poststuff h3.hndle {
	padding: 10px 20px;
}

.gmw-admin-page #poststuff .inside form span {
	display:block;
	margin-bottom: 3px;	
}

.gmw-admin-page #poststuff .inside form .gmw-importer-details span {
	display: inline-block;
}

.gmw-import-export-page-tab-wrapper {
	min-height: 500px;
}

tr.gmw-tab-section td {
	background-color: #cff7f5;
}

tr.gmw-tab-section td {
	font-size: 14px;
	color: #5d6f6e;
	border-bottom: 1px solid #b5d8d6;
	border-top: 1px solid #b5d8d6;
	font-style: italic;
}

.taxonomies-picker-wrapper {
	min-height:230px;
	clear:both;
	display:block;
}

.taxonomies-picker-wrapper .chosen-container .chosen-results {
	max-height:150px;
}

